* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;

}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .App_header {
    background: #393c3f;
    color:#fff;
    height: 60px;
    flex-shrink: 0;
    display:flex;
    .logo{
      flex-shrink: 0;
      width:160px;
      height:58px;
    }
    .head_com{
      flex-grow: 1;
    }
    .user{
      cursor: pointer;
      flex-shrink: 0;
      width:160px;
      height:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      .username{
        position:relative;
        margin-left:18px;
        height:100%;
        line-height:60px;
        &:hover .user_list{
          display:block;
        }
        .user_list{
          display: none;
          position:absolute;
          box-shadow: 0 0 10px #f0f0f0;
          top:60px;
          right:-6px;
          width: 160px;
          background:rgba(0,0,0,.4);
          border-radius: 4px;
          padding:8px;
          z-index: 10000;
          .user_list_item{
            height:36px;
            line-height: 36px;
            text-align:center;
            &:hover{
              background:#fff;
              color:#4078f2;
            }
          }
        }
      }
    }
  }

  .App_bom {
    width:100%;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    .App_aside {
      padding-top: 30px;
      width: 300px;
      flex-shrink: 0;
      display:flex;
      justify-content: center;
      background:#001529;
    }

    .App_main {
      width:100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .App_nav {
        height: 48px;
        flex-shrink: 0;
      }

      .App_outlet {
        width:100%;
        overflow: hidden;
        padding:16px;
        flex-grow: 1;
      }

    }
  }
}
